tesseract-ocr
tesseract-ocr-rus
tesseract-ocr-eng
tesseract-ocr-fra
tesseract-ocr-deu
tesseract-ocr-spa
tesseract-ocr-ita
tesseract-ocr-por
tesseract-ocr-nld
tesseract-ocr-pol
tesseract-ocr-tur
tesseract-ocr-ara
tesseract-ocr-hin
tesseract-ocr-chi-sim
tesseract-ocr-chi-tra
tesseract-ocr-jpn
tesseract-ocr-kor
tesseract-ocr-ukr
tesseract-ocr-kaz
